<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Rock, Paper, Scissors</title>
</head>
<body>
    <header>
        <h1> Try your luck at the time-honoured game.
    </header>
    <main>
        <h3>
            Choose an option for player 1 and choose an option for player 2.
        </h3>
        <form action="/rock/scissors" method="post">
            <p>
                <label for="selection1">Player 1, choose Rock, Paper or Scissors.</label>
                
                <input type="text" name="selection1" id="selectionrock1">

            </p>
            <p>
                <label for="selection2">Player 2, choose Rock, Paper or Scissors.</label>
                <input type="text" name="selection2" id="selection2">
                
            </p>
            <input type="submit" value ="Return result">
            
        </form>
        <!-- I couldn't get this to work in the web page. -->
        <!-- {% for player in players %}
            <h3>Player 1 chose {{selection_1}}.</h3>
            <h3>Player 2 chose {{selection_2}}.</h3>
            <h3>Player 1 {{result}} Player 2.</h3>
        {% endfor %} -->
        </main>
    <footer></footer>
    
</body>
</html>